<a href="https://colab.research.google.com/github/dajebbar/Machine-learning-in-python-with-scikit-learn/blob/main/02_numerical_pipeline_ex_00.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# üìù Exercise M1.02

The goal of this exercise is to fit a similar model as in the previous
notebook to get familiar with manipulating scikit-learn objects and in
particular the `.fit/.predict/.score` API.

Let's load the adult census dataset with only numerical variables

In [ ]:
import pandas as pd
adult_census = pd.read_csv("../datasets/adult-census-numeric.csv")
data = adult_census.drop(columns="class")
target = adult_census["class"]

In the previous notebook we used `model = KNeighborsClassifier()`. All
scikit-learn models can be created without arguments, which means that you
don't need to understand the details of the model to use it in scikit-learn.

One of the `KNeighborsClassifier` parameters is `n_neighbors`. It controls
the number of neighbors we are going to use to make a prediction for a new
data point.

What is the default value of the `n_neighbors` parameter? Hint: Look at the
documentation on the [scikit-learn
website](https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html)
or directly access the description inside your notebook by running the
following cell. This will open a pager pointing to the documentation.

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

KNeighborsClassifier? # n_neighbors=5

Create a `KNeighborsClassifier` model with `n_neighbors=50`

In [ ]:
# Write your code here.

model = KNeighborsClassifier(n_neighbors=50)

Fit this model on the data and target loaded above

In [ ]:
# Write your code here.
model.fit(data, target)

KNeighborsClassifier(n_neighbors=50)

Use your model to make predictions on the first 10 data points inside the
data. Do they match the actual target values?

In [ ]:
data[:10]

   age  capital-gain  capital-loss  hours-per-week
0   41             0             0              92
1   48             0             0              40
2   60             0             0              25
3   37             0             0              45
4   73          3273             0              40
5   57             0             0              72
6   22             0             0              35
7   55         27828             0              55
8   45             0             0              40
9   36             0             0              50

In [ ]:
# Write your code here.
preds = model.predict(data[:10])

In [ ]:
preds == target[:10]

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9    False
Name: class, dtype: bool

In [ ]:
(preds == target[:10]).sum() / len(preds) * 100

90.0

Compute the accuracy on the training data.

In [ ]:
# Write your code here.
accuracy = model.score(data, target)
accuracy

0.8290379545978042

Now load the test data from `"../datasets/adult-census-numeric-test.csv"` and
compute the accuracy on the test data.

In [ ]:
# Write your code here.
df = pd.read_csv('../datasets/adult-census-numeric-test.csv')
df.head()

   age  capital-gain  capital-loss  hours-per-week   class
0   20             0             0              35   <=50K
1   53             0             0              72    >50K
2   41             0             0              50    >50K
3   20             0             0              40   <=50K
4   25             0             0              40   <=50K

In [ ]:
X_test = df.drop(columns=['class'])
y_test = df['class']

X_test.shape, y_test.shape

((9769, 4), (9769,))

In [ ]:
model.score(X_test, y_test)

0.8177909714402702